#
# .gitignore
#

#
# Do not include (ignore) these files
#
*.log
*.tmp
*.bak
*.db
*.hdf5
*.dta
*.zip
*.csv
*.exe
*.dll
*.out
*.pak
*.txtt
*.gmw
*.xml
*.xlsx
*.mdb
7z.*
*.dat
*.py




#
# Ignore directories
#
/Output/*
/vscode-extension/
/FromOthers/
/backups/
/2020TOM/ArchiveOutputFiles/
/zz*/
/Interface/

